body{
    background-color: rgb(237, 246, 253);
}
.first{
    text-align: center; 
    padding: 5% 0;
}

.first > h1{
    color: #ffffff;
    font-size: 3em;
    font-weight: bold;
}

.first > p{
    color: #ffffff;
    font-size: 1.1em;
}

.card .card-img{
    height: 500px;
    width: auto;
}

.carousel-item img{
    object-fit: cover;
}

div.card-title{
    color:rgb(247, 241, 243);
    font-weight: 100;
    font-size: 20px;
    margin-top: 5px;
}

div.card-text{
    color:rgb(247, 241, 243);
    font-weight: 850;
    font-size: 30px;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}